@charset "UTF-8";
 #matching{width:100%;height:100px;border:none;margin-left:5px;float:left;display:block;}
	#title{text-align:left;font-family:Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif;float:left;
			margin-top: 26px;  margin-bottom: 29px;}
	#title-1{text-align: left; margin-top: 43px; display: block;margin-left: 115px;}
	#page{width: 100%; height: 100%; background-color: hsla(197, 62%, 74%, 0.603); float: left; margin-left: 4px;}
	#page1{ width: 95%; height: 98%; background-color: white;margin-left: 22px; margin-top: 10px;
    		border-radius: 20px;}
	.profile-photo{width: 90px;height:90px;margin-left:66px; margin-top:6px;border-radius: 64px; float:left;margin-right: 29px;}
	#page2{padding-left: 109px;  padding-top: 14px;}
	#name{float:left;}
	#address{text-align: left;}
	.infobutton1{    margin-top: 9px;
    width: 100px;
    height: 30px;
    margin-left: 500px;
    background: #5CD1E5;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    color: white;}
	#like{margin-left:15px; margin-top:15px;}
	.detail{width: 94%; height: 60px; margin-left: 19px;background-color: lightgray;    border-radius: 10px;text-align: center;}
	.check{ margin-left:30px; margin-top:20px;}
	#center{margin-left:40px;}
	#area{width: 94%;
    height: 314px;
    margin-left: 19px;
    background-color: lightgray;
}


	 #area1{width: 94%; height: 190px; margin-left: 19px; background-color: lightgray; }
	#area2{width: 94%; height: 95%; margin-left: 19px; background-color: lightgray;padding-top: 12px;}
	.review{width: 763px;height: 90px;background: white; margin-left: 25px; margin-top: 10px;border-radius: 20px;}
	#submit{margin-top: 69px; margin-left: 338px;width: 170px;height: 50px;background-color: #5CD1E5;color: white;}
	.review-photo{width: 45px;height: 45px;margin-left:30px;margin-top:20px;
					border-radius:30px;float:left; margin-right: 21px;}
	.review1{text-align:left;}
	.point{margin-right: 563px;}